{{#if posts}}
  {{#each posts}}
    <div class="post">
      <h3>{{title}}</h3>
      <p class="post-details">
        Posted by {{User.username}} on {{createdAt}}
      </p>
      <a href="/post/{{id}}">View Post</a>
    </div>
  {{/each}}
{{else}}
  <p>No posts available.</p>
{{/if}}
