{{#if posts.length}}
  <ul class="post-list">
    {{#each posts}}
    <li>
      <div class="container">
        <div class="header">
          <div class="title">
            <a href="/post/{{id}}">
              <h1>{{title}}</h1>
            </a>
          </div>
          <div class="details">
            <p>Posted by {{user.username}} on {{formatDate createdAt}}</p>
          </div>
        </div>
        <div class="content">
          <p>{{content}}</p>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
{{/if}}