{{#if posts.length}}
  <ul class="post-list">
    {{#each posts}}
      <li class="post-item">
        <div class="post-header">
          <div class="post-title">
            <a href="/post/{{id}}">
              <h4>{{title}}</h4>
            </a>
          </div>
          <div class="post-details">
            <p>Posted on: {{User.username}} on {{createdAt}}</p>
          </div>
        </div>
        <div class="post-content">
          <p>{{text}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No blog posts found.</p>
{{/if}}