{{#if posts.length}}
  <ul class="post-list">
    {{#each posts}}
      <div class="container">
        <div class="header">
          <div class="title">
            <a href="/post/{{id}}">
              <h4>{{title}}</h4>
            </a>
          </div>
          <div class="details">
            <p>Posted on: {{User.username}} on {{createdAt}}</p>
          </div>
        </div>
        <div class="content">
          <p>{{text}}</p>
        </div>
      </div>
    {{/each}}
  </ul>
{{else}}
  <p>No blog posts found.</p>
{{/if}}