<!DOCTYPE html>
<html>
<head>
  <title>Single Post</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="title">
        <h1>{{post.title}}</h1>
      </div>
      <div class="details">
        <p>Posted by {{post.user.username}} on {{formatDate post.createdAt}}</p>
      </div>
    </div>
    <div class="content">
      <p>{{post.content}}</p>
    </div>
  </div>

  <div class="container">
    <div class="content">
      {{#if comments}}
        {{#each comments}}
        <div class="comment">
          <p>{{this.comment_text}}</p>
          <p class="comment-details">Comment by {{this.user.username}}</p>
        </div>
        {{/each}}
      {{else}}
        <p>No comments found.</p>
      {{/if}}
    </div>
  </div>

</body>
</html>