<!DOCTYPE html>
<html>

<head>
  <title>Single Post</title>
</head>

<body>

  <!-- Display post container -->
  <div class="container">
    <div class="header">
      <div class="title">
        <h1>{{post.title}}</h1>
      </div>
      <div class="details">
        <p>Posted by {{post.user.username}} on {{formatDate post.createdAt}}</p>
      </div>
    </div>
    <div class="content">
      <p>{{post.content}}</p>
    </div>
  </div>

  <!-- Comment form container -->
  <div class="container" id="comment-form">
    <div class="header"></div>
    <div class="content">
      <form action="/post/{{post.id}}/comments" method="POST" onsubmit="hideCommentForm(event)">
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="primary-btn">Submit</button>
      </form>
    </div>
  </div>

  <!-- Display entered comment -->
  <div class="container" id="show-comments" style="display: none;">
    <div class="header"></div>
    <div class="content" id="comment-content"></div>
  </div>

<script src="/js/main.js"></script>

</body>

</html>