<!DOCTYPE html>
<html>
<head>
  <title>Single Post</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="title">
        <h4>{{post.title}}</h4>
      </div>
      <div class="details">
        <p>Posted on: {{post.User.username}} on {{post.createdAt}}</p>
      </div>
    </div>
    <div class="content">
      <p>{{post.content}}</p>
    </div>
  </div>

  {{#unless showCommentSubmitted}}
  <div class="container" id="comment-form">
    <div class="content">
      <form action="/post/{{post.id}}/comments" method="POST" onsubmit="hideCommentForm(event)">
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="primary-btn">Submit</button>
      </form>
    </div>
  </div>
  {{/unless}}

  <div class="container" id="show-comments" style="display: {{#if showCommentSubmitted}}block{{else}}none{{/if}}">
    <div class="content">
      {{#if comments.length}}
        {{#each comments}}
        <div class="comment">
          <p>{{comment_text}}</p>
          <p class="comment-details">Comment by {{User.username}}</p>
        </div>
        {{/each}}
      {{/if}}
    </div>
  </div>

  <script>
    function hideCommentForm(event) {
      event.preventDefault();

      document.getElementById("comment-form").style.display = "none";
      document.getElementById("show-comments").style.display = "block";
    }
  </script>
</body>
</html>